version: "3.7"
services:
  web:
    restart: always
    image: go-app
    ports:
      - 8080:8080
    environment:
      MYSQL_USER: docker-database
      MYSQL_PASSWORD: docker-database-pwd
      MYSQL_DATABASE: wikimvc
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      DB_HOST: db:3306
    links:
      -  db
    networks:
      - backend
  db:
    image: mysql:latest
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_USER: docker-database
      MYSQL_PASSWORD: docker-database-pwd
      MYSQL_DATABASE: wikimvc
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    volumes:
      - ./docker/data/:/docker-entrypoint-initdb.d/
    networks:
      - backend
networks:
  backend:
    driver: "bridge"